// information
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Home
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Princess<br/>ofDisney
color: #622525;
 font-size: 86px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Timeline
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// information
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 1937
color: black;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 년 개봉<br/>
color: black;
 font-size: 40px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// 세계 최초의 <br/>풀컬러 애니메이션 <br/>디즈니의 첫번째 공주
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// 세상에서 <br/>가장 아름답고 싶었던 <br/>마녀의 계략으로 인하여<br/> 성에서 쫓겨나고 <br/>죽을 위기에 처한다. <br/>과연 그녀의 운명은..?
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 70px;
 word-wrap: break-word
---
// SnowWhite
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Character
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Movie
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 1950
color: black;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 년 개봉<br/>
color: black;
 font-size: 40px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// 디즈니의 두번쨰 공주
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// Cinderella
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Movie
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Character
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 하룻밤 요술로<br/>꿈에 그리던 왕자
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 70px;
 word-wrap: break-word
---
// 님
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 70px;
 word-wrap: break-word
---
// 을<br/> 만났으나<br/>계모와 언니들의 심술 때문에<br/>사랑을 만나지 못한다면?<br/>신데렐라와 동물들의 이야기
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 70px;
 word-wrap: break-word
---
// 초대받지 못한 요정에게<br/>영원히 잠들어버리는 저주를<br/>선물받다. <br/>과연 오로라의 저주를 풀고<br/>온 왕국 사람들도 <br/>깨어날 수 있을까? 
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 70px;
 word-wrap: break-word
---
// 1959
color: black;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 년 개봉<br/>
color: black;
 font-size: 40px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// 디즈니의 세번째 공주
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// Aurora
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Character
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Movie
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 바다 마녀에게<br/>목소리를 바치면서까지<br/>만나고 싶은 왕자!<br/>그런 왕자를 향해 인어공주가 <br/>두 다리를 만들고 달려간다. 
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 70px;
 word-wrap: break-word
---
// 1989
color: black;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 년 개봉<br/>
color: black;
 font-size: 40px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// 디즈니의 네번째 공주
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// Ariel
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Character
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Movie
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 그저 아버지를 <br/>구하기 위해서 야수의 성에<br/> 뛰어들어간 벨. <br/>짐승과도 진정한 사랑을<br/>할 수 있을까?<br/>누가 인간이고<br/>누가 짐승일까? 
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 70px;
 word-wrap: break-word
---
// 1991
color: black;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 년 개봉<br/>
color: black;
 font-size: 40px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// 디즈니의 다섯번째 공주
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// Bell
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Character
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Movie
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 가난한 소년 알라딘의<br/>속임수에 넘어가<br/>그가 정말 부자 왕자라고 <br/>생각하는 자스민. <br/>신분을 뛰어넘은 사랑은<br/>이루어질 수 있을까? 
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 70px;
 word-wrap: break-word
---
// 1992
color: black;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 년 개봉<br/>
color: black;
 font-size: 40px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// 디즈니의 여섯번째 공주<br/>첫번째 유색인종 공주
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// Jasmine
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Character
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Movie
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 사랑 이야기를 넘어선<br/>가슴아픈 과거의 이야기들<br/>포카혼타스는 본인의 고향을<br/>지켜낼 수 있을 것인가? 
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 70px;
 word-wrap: break-word
---
// 1995
color: black;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 년 개봉<br/>
color: black;
 font-size: 40px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// 디즈니의 일곱번째 공주
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// Pocahontas
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Character
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Movie
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 몸이 편찮으신 아버지를 <br/>대신하여<br/>적진에 뛰어든다. <br/>단순히 여자, 남자라는 이유로 주어지는 역할은 무엇일까? <br/>그게 옳은 것일까? 
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 70px;
 word-wrap: break-word
---
// 1998
color: black;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 년 개봉<br/>
color: black;
 font-size: 40px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// 디즈니의 여덟번째 공주<br/>첫번째 동양인 공주
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// Mulan
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Character
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Movie
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 단지 본인의 가게를 <br/>차리고 싶었을 뿐인데, <br/>사악한 음모에 휘말리게 된다.<br/>공주와 개구리!<br/>개구리가 된 공주! 
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 70px;
 word-wrap: break-word
---
// 2009
color: black;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 년 개봉<br/>
color: black;
 font-size: 40px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// 디즈니의 아홉번째 공주<br/>첫번째 흑인 공주
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// Tiana
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Character
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Movie
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 본인을 옭아매는 환경을<br/>박차고 나와 세상을 탐험하고, <br/>직접 하나하나 부딪혀가며<br/>모험하는 라푼젤! <br/>우리는 삶을 살아갈 때<br/>어떤 태도를 지녀야 할까? 
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 70px;
 word-wrap: break-word
---
// 2010
color: black;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 년 개봉<br/>
color: black;
 font-size: 40px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// 디즈니의 열번째 공주
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// Rapunzel
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Character
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Movie
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 단지 공주라는 신분으로<br/>태어났다는 이유만으로<br/>결혼을 해야한다는 것이 <br/>마음에 들지 않는 메리다. <br/>엄마가 내 말을 좀 들었으면 좋겠다는 마음이,<br/>엄마를 곰으로 만들어버렸다.
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 70px;
 word-wrap: break-word
---
// 2012
color: black;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 년 개봉<br/>
color: black;
 font-size: 40px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// 디즈니의 열한번째 공주<br/>유일하게 픽사 소속 공주<br/>처음으로 왕 자와의 <br/>로맨스가 없었던 공주
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// Merida
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Character
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Movie
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 난 바다가 좋아! <br/>아버지의 만류에도 불구하고<br/>직접 나가서 몸소 체험해보며<br/>배우는 모아나! <br/>새로운 세상의 탐험이<br/>시작된다! 
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 70px;
 word-wrap: break-word
---
// 2016
color: black;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 년 개봉<br/>
color: black;
 font-size: 40px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// 디즈니의 열네번째 공주
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// Moana
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Character
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Movie
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 2013
color: black;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 년 개봉<br/>
color: black;
 font-size: 40px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// 디즈니의 열두번째 공주<br/>첫번째 자매공주
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// Anna
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Character
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Movie
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 진정한 사랑이란 무엇일까? <br/>언니와도 오래 떨어져 지내고,<br/>부모님도 사고로 <br/>일찍 여의게 된 안나. <br/>그녀에게 다가오는 <br/>진정한 사랑들! <br/>어떤 것이 진짜일까? 
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 70px;
 word-wrap: break-word
---
// 약점을 꼭 숨겨야 <br/>보호가 될까?<br/>본인의 엄청난 능력이<br/>컴플렉스인 엘사. <br/>결국 대관식 날, <br/>왕국을 뒤로하고 먼 산으로<br/>도망쳐버리게 된다. 
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 70px;
 word-wrap: break-word
---
// 2013
color: black;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// 년 개봉<br/>
color: black;
 font-size: 40px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// 디즈니의 열세번째 공주<br/>첫번째 정령이 된 공주
color: black;
 font-size: 32px;
 font-family: GyeonggiBatang;
 font-weight: 700;
 line-height: 80px;
 word-wrap: break-word
---
// Elsa
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Character
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word
---
// Movie
color: #622525;
 font-size: 40px;
 font-family: jsMath-cmti10;
 font-weight: 500;
 line-height: 80px;
 word-wrap: break-word